In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')
import glob
import datetime
import matplotlib.dates as mdates
from array import *

In [3]:
#I had to define the filepath of WolfCreek1968.csv b/c it's not in the same folder as this notebook
#WolfCreek1968.csv is the csv file I created in 'Merging and Sorting DataFrames with Wolf Creek Water Data (1968)
WolfCreek1968 = pd.read_csv(r'/Users/aolawale/Downloads/WolfCreek1968.csv')
#If you check 'Merging and Sorting DataFrames with Wolf Creek Water Data (1968), you'll see I already used this
#but I'm using this again. That's because I saved WolfCreek1968 as a csv before I added this, so the numbers saved as double digits
WolfCreek1968['Parameter Code'] = WolfCreek1968['Parameter Code'].apply(lambda x: '{:0>5}'.format(x))
WolfCreek1968.sort('Date', ascending=[False])
#WolfCreek1968['Date'].to_datetime(WolfCreek1968['Date'])
#WolfCreek1968

        Tag      Date Parameter Code  Values
31  Z004991  12/03/68          00945    68.0
29  Z004991  12/03/68          00403     8.3
28  Z004991  12/03/68          00310     1.0
27  Z004991  12/03/68          00300    12.0
26  Z004991  12/03/68          00095  1600.0
25  Z004991  12/03/68          00070     5.0
24  Z004991  12/03/68          00020    10.0
23  Z004991  12/03/68          00011    44.6
22  Z004991  12/03/68          00010     7.0
30  Z004991  12/03/68          00940   276.0
13  Z004990  11/13/68          00010    14.0
14  Z004990  11/13/68          00011    57.2
16  Z004990  11/13/68          00095  1590.0
17  Z004990  11/13/68          00300     9.0
18  Z004990  11/13/68          00310     2.5
19  Z004990  11/13/68          00403     8.2
20  Z004990  11/13/68          00940   253.0
21  Z004990  11/13/68          00945    79.0
15  Z004990  11/13/68          00070    28.0
7   Z004989  10/10/68          00095   576.0
6   Z004989  10/10/68          00070   500.0
9   Z004989  10/10/68          00310     4.0
12  Z004989  10/10/68          00945    23.0
10  Z004989  10/10/68          00403     7.4
11  Z004989  10/10/68          00940    80.0
8   Z004989  10/10/68          00300     8.0
2   Z004988  09/25/68          00310     1.0
1   Z004988  09/25/68          00300    11.0
0   Z004988  09/25/68          00095  1738.0
5   Z004988  09/25/68          00945    59.0
4   Z004988  09/25/68          00940   323.0
3   Z004988  09/25/68          00403     8.2

In [4]:
#Importing Parameter_Guide b/c it's going to be used later when merging 
Parameter_Guide = pd.read_csv(r'/Users/aolawale/Downloads/Data or Programming/TCEQ Parameter Name Guide.csv', sep='|')


Parameter_Guide

,Parameter Code,Parameter Description,Units of Measurement,Media,Method
0,00003,"SAMPLING STATION LOCATION, VERTICAL FEET",FT,Other,N/A Calculation
1,00004,STREAM WIDTH (FEET),FT,Water,N/A Calculation
2,00010,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",DEG C,Water,N/A Calculation
3,00011,"TEMPERATURE, WATER (DEGREES FAHRENHEIT)",DEG F,Water,N/A Calculation
4,00019,SAMPLE WEIGHT IN GRAMS,G,Other,N/A Calculation
5,00020,"TEMPERATURE, AIR (DEGREES CENTIGRADE)",DEG C,Air,N/A Calculation
6,00021,"TEMPERATURE, AIR (DEGREES FAHRENHEIT)",DEG F,Air,N/A Calculation
7,00023,SAMPLE WEIGHT IN POUNDS,LB,Other,N/A Calculation
8,00024,SAMPLE LENGTH IN INCHES,IN,Other,N/A Calculation
9,00029,FIELD SPECIMEN OR SAMPLE SEQUENCE NUMBER,NU,Other,N/A Calculation
10,00039,SAMPLE LENGTH IN MILLIMETERS,MM,Other,N/A Calculation
11,00051,RESERVOIR ACCESS NOT POSSIBLE LEVEL TOO LOW EN...,NS,Other,N/A Calculation
12,00052,RESERVOIR STAGE (FEET ABOVE MEAN SEA LEVEL),FT ABOVE MSL,Water,N/A Calculation
13,00053,RESERVOIR PERCENT FULL,% RESERVOIR CAPACITY,Water,N/A Calculation
14,00054,RESERVOIR STORAGE - ACRE FEET,AC-FT,Other,N/A Calculation
15,00055,STREAM VELOCITY (FEET PER SECOND),FT/SEC,Water,N/A Calculation
16,00056,FLOW RATE (GALLONS PER DAY),GAL/DAY,Water,N/A Calculation
17,00060,"FLOW, STREAM, MEAN DAILY (CUBIC FEET PER SEC)",CFS,Water,N/A Calculation
18,00061,"FLOW STREAM, INSTANTANEOUS (CUBIC FEET PER SEC)",CFS,Water,N/A Calculation
19,00062,"ELEVATION, RESERVOIR SURFACE WATER IN FEET",FT,Water,N/A Calculation
20,00064,"DEPTH OF STREAM, MEAN (FT)",FT,Water,N/A Calculation
21,00065,"STAGE, STREAM (FEET)",FT,Water,N/A Calculation
22,00068,"DEPTH, MAXIMUM, OF SAMPLE (FEET)",FT,Water,N/A Calculation
23,00070,"TURBIDITY, (JACKSON CANDLE UNITS)",JTU,Water,N/A Calculation
24,00076,"TURBIDITY,HACH TURBIDIMETER (FORMAZIN TURB UNIT)",FTU,Water,N/A Calculation
25,00077,"TRANSPARENCY, SECCHI DISC (INCHES)",IN,Water,N/A Calculation
26,00078,"TRANSPARENCY, SECCHI DISC (METERS)",M,Water,N/A Calculation
27,00080,COLOR (PLATINUM-COBALT UNITS),PCU,Water,N/A Calculation
28,00081,"COLOR,APPARENT(UNFILTERED SAMPLE) PLAT-COB UNITS",PCU,Water,N/A Calculation
29,00090,OXIDATION REDUCTION POTENTIAL (MILLIVOLTS),mV,Water,N/A Calculation
...,...,...,...,...,...
5845,P5027,HEXACHLOROBENZENE IN POREWATER (UG/L),UG/L,Other,N/A Calculation
5846,P5028,HEXACHLOROBUTADIENE IN POREWATER (UG/L),UG/L,Other,N/A Calculation
5847,P5029,HEXACHLOROCYCLOPENTADIENE IN POREWATER (UG/L),UG/L,Other,N/A Calculation
5848,P5030,HEXACHLOROETHANE IN POREWATER (UG/L),UG/L,Other,N/A Calculation
5849,P5031,ISOPHORONE IN POREWATER (UG/L),UG/L,Other,N/A Calculation
5850,P5032,NITROBENZENE IN POREWATER (UG/L),UG/L,Other,N/A Calculation
5851,P5033,2-NITROPHENOL IN POREWATER (UG/L),UG/L,Other,N/A Calculation
5852,P5034,4-NITROPHENOL IN POREWATER (UG/L),UG/L,Other,N/A Calculation
5853,P5035,N-NITROSODIMETHYLAMINE IN POREWATER (UG/L),UG/L,Other,N/A Calculation
5854,P5036,N-NITROSODIPHENYLAMINE IN POREWATER (UG/L),UG/L,Other,N/A Calculation
5855,P5037,N-NITROSODI-N-PROPYLAMINE IN POREWATER (UG/L),UG/L,Other,N/A Calculation
5856,P5038,PENTACHLOROPHENOL IN POREWATER (UG/L),UG/L,Other,N/A Calculation
5857,P5039,PHENOL IN POREWATER (UG/L),UG/L,Other,N/A Calculation
5858,P5040,"1,2,4-TRICHLOROBENZENE IN POREWATER (UG/L)",UG/L,Other,N/A Calculation
5859,P5041,"2,4,6-TRICHLOROPHENOL IN POREWATER (UG/L)",UG/L,Other,N/A Calculation
5860,P6001,ACENAPHTHENE IN POREWATER (UG/L),UG/L,Other,N/A Calculation
5861,P6002,ACENAPHTHYLENE IN POREWATER (UG/L),UG/L,Other,N/A Calculation
5862,P6003,ANTHRACENE IN POREWATER (UG/L),UG/L,Other,N/A Calculation
5863,P6004,BENZO(A)ANTHRACENE IN POREWATER (UG/L),UG/L,Other,N/A Calculation
5864,P6005,BENZO(K)FLUORANTHENE IN POREWATER (UG/L),UG/L,Other,N/A Calculation
5865,P6006,BENZO(B)FLUORANTHENE IN POREWATER (UG/L),UG/L,Other,N/A Calculation
5866,P6007,BENZO(GHI)PERYLENE IN POREWATER (UG/L),UG/L,Other,N/A Calculation
5867,P6009,CHRYSENE IN POREWATER (UG/L),UG/L,Other,N/A Calculation
5868,P6010,DIBENZO(AH)ANTHRACENE IN POREWATER (UG/L),UG/L,Other,N/A Calculation
5869,P6011,FLUORANTHENE IN POREWATER (UG/L),UG/L,Other,N/A Calculation
5870,P6012,FLUORENE IN POREWATER (UG/L),UG/L,Other,N/A Calculation
5871,P6013,"INDENO(1,2,3-CD)PYRENE IN POREWATER (UG/L)",UG/L,Other,N/A Calculation
5872,P6014,NAPHTHALENE IN POREWATER (UG/L),UG/L,Other,N/A Calculation
5873,P6015,PHENANTHRENE IN POREWATER (UG/L),UG/L,Other,N/A Calculation
5874,P6016,PYRENE IN POREWATER (UG/L),UG/L,Other,N/A Calculation

In [5]:
#glob.glob(*.csv) finds all files saved as csv files in the folder where this notebook is saved and prints them out
mergeFiles = glob.glob('*.csv')
mergeFiles

['Wolf Creek Water Data (1969).csv',
 'Wolf Creek Water Data (1970).csv',
 'Wolf Creek Water Data (1971).csv',
 'Wolf Creek Water Data (1972).csv',
 'Wolf Creek Water Data (1973).csv',
 'Wolf Creek Water Data (1974).csv',
 'Wolf Creek Water Data (1975).csv',
 'Wolf Creek Water Data (1976).csv',
 'Wolf Creek Water Data (1977).csv',
 'Wolf Creek Water Data (1978).csv',
 'Wolf Creek Water Data (1979).csv',
 'Wolf Creek Water Data (1980).csv',
 'Wolf Creek Water Data (1981).csv',
 'Wolf Creek Water Data (1982).csv',
 'Wolf Creek Water Data (1983).csv',
 'Wolf Creek Water Data (1984).csv',
 'Wolf Creek Water Data (1985).csv',
 'Wolf Creek Water Data (1986).csv',
 'Wolf Creek Water Data (1987).csv',
 'Wolf Creek Water Data (1988).csv',
 'Wolf Creek Water Data (1989).csv',
 'Wolf Creek Water Data (1990).csv',
 'Wolf Creek Water Data (1991).csv',
 'Wolf Creek Water Data (1992).csv',
 'Wolf Creek Water Data (1993).csv',
 'Wolf Creek Water Data (1994).csv',
 'Wolf Creek Water Data (1995).csv',
 'Wolf Creek Water Data (1996).csv',
 'Wolf Creek Water Data (1997).csv',
 'Wolf Creek Water Data (1998).csv',
 'Wolf Creek Water Data (1999).csv',
 'Wolf Creek Water Data (2000).csv',
 'Wolf Creek Water Data (2001).csv',
 'Wolf Creek Water Data (2002).csv',
 'Wolf Creek Water Data (2003).csv',
 'Wolf Creek Water Data (2004).csv',
 'Wolf Creek Water Data (2005).csv',
 'Wolf Creek Water Data (2006).csv']

In [6]:
#Remember: mergeFiles is just all the csv files in the folder where this is saved
def mergeFile(WolfCreek1968, mergeFiles):
    #for each csv file in mergeFiles
    for file in mergeFiles:
        #read each as a csv file, and read only the first(0), second(1), third(2), and fifth(4) columns
        file = pd.read_csv(file, sep="|", usecols=[0,1,2,4], header=None)
        #rename the 1st column to Tag, 2nd column to Date, 3rd to Parameter Code, and 4th to Values
        file.columns=['Tag','Date','Parameter Code','Values']
        #add leading zeroes to the Parameter Code column since they'll most likely be double digits
        file['Parameter Code'] = file['Parameter Code'].apply(lambda x: '{:0>5}'.format(x))
        #concat basically means 'join together', so join WolfCreek1968 and each csv file vertically (axis = 0)
        fileConcat = pd.concat([WolfCreek1968, file], axis=0)
        #now WolfCreek1968 = WolfCreek1968 + first csv file in the first loop
        #in the next loop, it would be WolfCreek1968 + first csv file = WolfCreek1968 + 1st csv file + 2nd csv file in mergeFiles
        WolfCreek1968 = fileConcat
    #show me WolfCreek1968 + 1st csv + 2nd csv + 3rd csv +..... last csv
    return fileConcat

In [7]:
AlmostMasterFile = mergeFile(WolfCreek1968, mergeFiles)
#converting the date column to datetime format or there'll be trouble w/ sorting the final dataframe
AlmostMasterFile['Date']=pd.to_datetime(AlmostMasterFile['Date'])
#AlmostMasterFile['Date']
AlmostMasterFile.sort('Date', ascending=[True])

         Tag       Date Parameter Code   Values
0    Z004988 1968-09-25          00095  1738.00
1    Z004988 1968-09-25          00300    11.00
2    Z004988 1968-09-25          00310     1.00
3    Z004988 1968-09-25          00403     8.20
4    Z004988 1968-09-25          00940   323.00
5    Z004988 1968-09-25          00945    59.00
12   Z004989 1968-10-10          00945    23.00
11   Z004989 1968-10-10          00940    80.00
10   Z004989 1968-10-10          00403     7.40
8    Z004989 1968-10-10          00300     8.00
7    Z004989 1968-10-10          00095   576.00
6    Z004989 1968-10-10          00070   500.00
9    Z004989 1968-10-10          00310     4.00
19   Z004990 1968-11-13          00403     8.20
21   Z004990 1968-11-13          00945    79.00
20   Z004990 1968-11-13          00940   253.00
18   Z004990 1968-11-13          00310     2.50
17   Z004990 1968-11-13          00300     9.00
16   Z004990 1968-11-13          00095  1590.00
15   Z004990 1968-11-13          00070    28.00
14   Z004990 1968-11-13          00011    57.20
13   Z004990 1968-11-13          00010    14.00
31   Z004991 1968-12-03          00945    68.00
30   Z004991 1968-12-03          00940   276.00
29   Z004991 1968-12-03          00403     8.30
28   Z004991 1968-12-03          00310     1.00
27   Z004991 1968-12-03          00300    12.00
26   Z004991 1968-12-03          00095  1600.00
25   Z004991 1968-12-03          00070     5.00
24   Z004991 1968-12-03          00020    10.00
..       ...        ...            ...      ...
303  RR11766 2006-12-12          89969     5.00
334  RR11767 2006-12-12          89969     5.00
276  RR11766 2006-12-12          00010     4.00
277  RR11766 2006-12-12          00021    35.00
278  RR11766 2006-12-12          00094  1220.00
279  RR11766 2006-12-12          00300    10.70
280  RR11766 2006-12-12          00335    10.00
281  RR11766 2006-12-12          00400     8.00
282  RR11766 2006-12-12          00410   268.00
283  RR11766 2006-12-12          00530     4.00
284  RR11766 2006-12-12          00535     4.00
285  RR11766 2006-12-12          00610     0.02
286  RR11766 2006-12-12          00630     0.04
287  RR11766 2006-12-12          00665     0.08
288  RR11766 2006-12-12          00671     0.04
289  RR11766 2006-12-12          00680    10.20
290  RR11766 2006-12-12          00915   102.00
291  RR11766 2006-12-12          00940   190.00
292  RR11766 2006-12-12          00945    65.90
293  RR11766 2006-12-12          01351     3.00
294  RR11766 2006-12-12          20424     1.00
295  RR11766 2006-12-12          31699    80.00
296  RR11766 2006-12-12          32211     2.00
297  RR11766 2006-12-12          32218     2.00
298  RR11766 2006-12-12          70300   717.00
300  RR11766 2006-12-12          82079     0.80
301  RR11766 2006-12-12          89965     2.00
302  RR11766 2006-12-12          89966     1.00
304  RR11766 2006-12-12          89971     6.00
335  RR11767 2006-12-12          89971     6.00

[5404 rows x 4 columns]

In [9]:
#Merging the combined dataframes w/ the Parameter Guide
#MasterFile06 = AlmostMasterFile.sort(['Parameter Code','Date'], ascending=[True, True])
#MasterFile06 = MasterFile06.merge(Parameter_Guide, on ='Parameter Code')
#MasterFile06.to_csv("MasterFile06.csv")
#MasterFile06[60:160]
#MasterFile06.where(MasterFile06['Parameter Code'] == '00095')
MasterFile06 = AlmostMasterFile.merge(Parameter_Guide, on='Parameter Code')
MasterFile06 = MasterFile06.sort(['Parameter Code','Date'], ascending=[True, True])
#Sorted by parameter code first and then by date
MasterFile06

,Tag,Date,Parameter Code,Values,Parameter Description,Units of Measurement,Media,Method
1077,Z004990,1968-11-13,00010,14.0,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",DEG C,Water,N/A Calculation
1078,Z004991,1968-12-03,00010,7.0,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",DEG C,Water,N/A Calculation
1079,Z004992,1969-01-08,00010,5.0,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",DEG C,Water,N/A Calculation
1080,Z004993,1969-02-05,00010,2.0,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",DEG C,Water,N/A Calculation
1081,Z004994,1969-03-18,00010,14.0,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",DEG C,Water,N/A Calculation
1082,Z004995,1969-04-08,00010,16.7,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",DEG C,Water,N/A Calculation
1083,Z004996,1969-06-05,00010,21.0,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",DEG C,Water,N/A Calculation
1084,Z004998,1969-07-29,00010,36.0,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",DEG C,Water,N/A Calculation
1085,Z004999,1969-08-06,00010,33.0,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",DEG C,Water,N/A Calculation
1086,Z005000,1969-09-10,00010,18.0,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",DEG C,Water,N/A Calculation
1087,Z005001,1969-10-08,00010,23.0,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",DEG C,Water,N/A Calculation
1088,Z005002,1969-11-18,00010,6.7,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",DEG C,Water,N/A Calculation
1089,Z005003,1969-12-17,00010,3.3,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",DEG C,Water,N/A Calculation
1090,Z005004,1970-01-13,00010,6.1,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",DEG C,Water,N/A Calculation
1091,Z005005,1970-02-04,00010,8.3,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",DEG C,Water,N/A Calculation
1092,Z005006,1970-03-04,00010,17.2,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",DEG C,Water,N/A Calculation
1093,Z005007,1970-04-15,00010,12.8,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",DEG C,Water,N/A Calculation
1094,Z005008,1970-05-27,00010,20.6,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",DEG C,Water,N/A Calculation
1095,Z005009,1970-06-10,00010,30.0,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",DEG C,Water,N/A Calculation
1096,Z005010,1970-06-23,00010,26.7,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",DEG C,Water,N/A Calculation
1097,Z005011,1970-08-26,00010,20.0,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",DEG C,Water,N/A Calculation
1098,Z005012,1970-09-09,00010,27.8,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",DEG C,Water,N/A Calculation
1099,Z005013,1970-10-06,00010,23.9,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",DEG C,Water,N/A Calculation
1100,Z005014,1970-11-24,00010,0.0,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",DEG C,Water,N/A Calculation
1101,Z005015,1970-12-01,00010,10.6,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",DEG C,Water,N/A Calculation
1102,Z005016,1971-01-27,00010,1.7,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",DEG C,Water,N/A Calculation
1103,Z005017,1971-02-27,00010,0.6,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",DEG C,Water,N/A Calculation
1104,Z005018,1971-03-24,00010,6.1,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",DEG C,Water,N/A Calculation
1105,Z005020,1971-05-19,00010,13.9,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",DEG C,Water,N/A Calculation
1106,Z005021,1971-06-09,00010,20.6,"TEMPERATURE, WATER (DEGREES CENTIGRADE)",DEG C,Water,N/A Calculation
...,...,...,...,...,...,...,...,...
5108,RR10876,2001-08-07,89971,6.0,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",NU,Water,N/A Calculation
5109,RR10884,2001-09-18,89971,6.0,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",NU,Water,N/A Calculation
5110,RR10944,2001-12-05,89971,6.0,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",NU,Water,N/A Calculation
5111,RR11037,2002-03-19,89971,6.0,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",NU,Water,N/A Calculation
5112,RR11044,2002-06-18,89971,6.0,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",NU,Water,N/A Calculation
5113,RR11211,2003-09-10,89971,6.0,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",NU,Water,N/A Calculation
5114,RR11213,2003-09-10,89971,6.0,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",NU,Water,N/A Calculation
5115,RR11219,2003-12-08,89971,6.0,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",NU,Water,N/A Calculation
5116,RR11221,2003-12-08,89971,6.0,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",NU,Water,N/A Calculation
5117,RR11227,2004-03-17,89971,6.0,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",NU,Water,N/A Calculation
5118,RR11229,2004-03-17,89971,6.0,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",NU,Water,N/A Calculation
5119,RR11235,2004-06-16,89971,6.0,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",NU,Water,N/A Calculation
5120,RR11237,2004-06-16,89971,6.0,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",NU,Water,N/A Calculation
5121,RR11243,2004-09-08,89971,6.0,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",NU,Water,N/A Calculation
5122,RR11244,2004-09-08,89971,6.0,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",NU,Water,N/A Calculation
5123,RR11251,2004-12-08,89971,6.0,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",NU,Water,N/A Calculation
5124,RR11252,2004-12-08,89971,6.0,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",NU,Water,N/A Calculation
5125,RR11259,2005-03-16,89971,6.0,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",NU,Water,N/A Calculation
5126,RR11260,2005-03-16,89971,5.0,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",NU,Water,N/A Calculation
5127,RR11266,2005-06-22,89971,6.0,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",NU,Water,N/A Calculation
5128,RR11267,2005-06-22,89971,6.0,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",NU,Water,N/A Calculation
5129,RR11275,2005-09-21,89971,6.0,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",NU,Water,N/A Calculation
5130,RR11554,2005-12-14,89971,6.0,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",NU,Water,N/A Calculation
5131,RR11609,2006-03-22,89971,6.0,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",NU,Water,N/A Calculation
5132,RR11620,2006-06-21,89971,6.0,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",NU,Water,N/A Calculation
5133,RR11621,2006-06-21,89971,6.0,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",NU,Water,N/A Calculation
5134,RR11722,2006-09-13,89971,6.0,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",NU,Water,N/A Calculation
5135,RR11723,2006-09-13,89971,6.0,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",NU,Water,N/A Calculation
5136,RR11766,2006-12-12,89971,6.0,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",NU,Water,N/A Calculation
5137,RR11767,2006-12-12,89971,6.0,"WATER ODOR (1=SEWAGE, 2=OILY/CHEMICAL, 3=ROTTE...",NU,Water,N/A Calculation

In [10]:
#Looking for rows where the parameter description includes water data
WaterClarityData = np.where(MasterFile06['Parameter Description'] == 'WATER CLARITY, 1=EXCELLENT 2=GOOD 3=FAIR 4=POOR')
WaterClarityData

(array([4057, 4058, 4059, 4060, 4061, 4062, 4063, 4064, 4065, 4066, 4067,
        4068, 4069, 4070, 4071, 4072, 4073, 4074, 4075, 4076, 4077, 4078,
        4079, 4080, 4081, 4082]),)

In [11]:
WaterClarityGraph = MasterFile06[4019:4044]
WaterClarityGraph

x_axis = (WaterClarityGraph['Date'])
x_axis



y_axis = (WaterClarityGraph['Values'])
y_axis





#ax = WaterClarityGraph.plot(x='Date', y= 'Values', kind='bar', color='red')
#plt.xlabel('Date')
#plt.ylabel('Water Clarity')
#plt.title('Wolf Creek Water Clarity (1968-2006)')

#mdates.DateFormatter('%d-%m-%Y')
#plt.show()


#plt.scatter(x_axis, y_axis)
#mdates.DateFormatter('%d-%m-%Y')
#plt.xlabel('Date')
#plt.show()

4490    2
4491    2
4492    3
4493    3
4494    3
4495    3
4496    2
4497    3
4498    3
4499    5
4500    2
4501    3
4502    3
4503    3
4504    3
4505    3
4506    3
4507    3
4508    3
4509    3
4510    3
4511    3
4512    5
4513    5
4514    5
Name: Values, dtype: float64

In [12]:
WaterClarityGraph = MasterFile06[4019:4044]
WaterClarityGraph

,Tag,Date,Parameter Code,Values,Parameter Description,Units of Measurement,Media,Method
4490,RR10868,2001-07-10,01351,2,"FLOW SEVERITY:1=No Flow,2=Low,3=Normal,4=Flood...",NS,Water,N/A Calculation
4491,RR10876,2001-08-07,01351,2,"FLOW SEVERITY:1=No Flow,2=Low,3=Normal,4=Flood...",NS,Water,N/A Calculation
4492,RR10884,2001-09-18,01351,3,"FLOW SEVERITY:1=No Flow,2=Low,3=Normal,4=Flood...",NS,Water,N/A Calculation
4493,RR10944,2001-12-05,01351,3,"FLOW SEVERITY:1=No Flow,2=Low,3=Normal,4=Flood...",NS,Water,N/A Calculation
4494,RR11037,2002-03-19,01351,3,"FLOW SEVERITY:1=No Flow,2=Low,3=Normal,4=Flood...",NS,Water,N/A Calculation
4495,RR11044,2002-06-18,01351,3,"FLOW SEVERITY:1=No Flow,2=Low,3=Normal,4=Flood...",NS,Water,N/A Calculation
4496,R208614,2002-11-13,01351,2,"FLOW SEVERITY:1=No Flow,2=Low,3=Normal,4=Flood...",NS,Water,N/A Calculation
4497,R209830,2003-01-14,01351,3,"FLOW SEVERITY:1=No Flow,2=Low,3=Normal,4=Flood...",NS,Water,N/A Calculation
4498,R209906,2003-04-08,01351,3,"FLOW SEVERITY:1=No Flow,2=Low,3=Normal,4=Flood...",NS,Water,N/A Calculation
4499,R214983,2003-07-14,01351,5,"FLOW SEVERITY:1=No Flow,2=Low,3=Normal,4=Flood...",NS,Water,N/A Calculation
4500,RR11211,2003-09-10,01351,2,"FLOW SEVERITY:1=No Flow,2=Low,3=Normal,4=Flood...",NS,Water,N/A Calculation
4501,RR11213,2003-09-10,01351,3,"FLOW SEVERITY:1=No Flow,2=Low,3=Normal,4=Flood...",NS,Water,N/A Calculation
4502,RR11219,2003-12-08,01351,3,"FLOW SEVERITY:1=No Flow,2=Low,3=Normal,4=Flood...",NS,Water,N/A Calculation
4503,RR11221,2003-12-08,01351,3,"FLOW SEVERITY:1=No Flow,2=Low,3=Normal,4=Flood...",NS,Water,N/A Calculation
4504,RR11227,2004-03-17,01351,3,"FLOW SEVERITY:1=No Flow,2=Low,3=Normal,4=Flood...",NS,Water,N/A Calculation
4505,RR11229,2004-03-17,01351,3,"FLOW SEVERITY:1=No Flow,2=Low,3=Normal,4=Flood...",NS,Water,N/A Calculation
4506,RR11235,2004-06-16,01351,3,"FLOW SEVERITY:1=No Flow,2=Low,3=Normal,4=Flood...",NS,Water,N/A Calculation
4507,RR11237,2004-06-16,01351,3,"FLOW SEVERITY:1=No Flow,2=Low,3=Normal,4=Flood...",NS,Water,N/A Calculation
4508,RR11243,2004-09-08,01351,3,"FLOW SEVERITY:1=No Flow,2=Low,3=Normal,4=Flood...",NS,Water,N/A Calculation
4509,RR11244,2004-09-08,01351,3,"FLOW SEVERITY:1=No Flow,2=Low,3=Normal,4=Flood...",NS,Water,N/A Calculation
4510,RR11251,2004-12-08,01351,3,"FLOW SEVERITY:1=No Flow,2=Low,3=Normal,4=Flood...",NS,Water,N/A Calculation
4511,RR11252,2004-12-08,01351,3,"FLOW SEVERITY:1=No Flow,2=Low,3=Normal,4=Flood...",NS,Water,N/A Calculation
4512,RR11259,2005-03-16,01351,5,"FLOW SEVERITY:1=No Flow,2=Low,3=Normal,4=Flood...",NS,Water,N/A Calculation
4513,RR11260,2005-03-16,01351,5,"FLOW SEVERITY:1=No Flow,2=Low,3=Normal,4=Flood...",NS,Water,N/A Calculation
4514,RR11266,2005-06-22,01351,5,"FLOW SEVERITY:1=No Flow,2=Low,3=Normal,4=Flood...",NS,Water,N/A Calculation

In [ ]:
#MasterFile06.sort(['Date'], ascending = [True] )
#MasterFile06.reindex(columns=['Date'])
#MasterFile06 = MasterFile06.groupby(['Parameter Code'])
#MasterFile06['Date']

#Finding the parameter codes with the most entries
MasterFile06['Parameter Code'].value_counts()

In [ ]:

DissolvedOxygen = np.where(MasterFile06['Parameter Code'] == '00300')
DissolvedOxygen

DOdf = MasterFile06[1204:1536]
DOdf

DOdf.plot(x='Date', y='Values', kind='line', color='blue')
plt.xlabel('Date')
plt.ylabel('DO levels (MG/L)')
plt.title('Wolf Creek Dissolved Oxygen Levels (MG/L) 1968-2006')
plt.axhline(y=3, xmin=0, xmax=3, linewidth=1, color='red', label='Dangerously low levels')
plt.legend()
plt.show()

In [ ]:
'''
TempC = np.where(MasterFile06['Parameter Code'] == '00010')
TempC

TempCdf = MasterFile06[0:309]
TempCdf

TempCdf.plot(x='Date', y='Values', kind='line', color='blue')
plt.xlabel('Date')
mdates.DateFormatter('%d-%m-%Y')
plt.ylabel('Temperature (Celsius)')
plt.title('Wolf Creek Water Temperature (Celsius) 1968-2006')
#ax.set_xticklabels(mdates.DateFormatter('%d-%m-%Y'))
plt.show()
'''

In [ ]:
'''
SpecificConductance = np.where(MasterFile06['Parameter Code'] == '00094')
SpecificConductance


SCdf = MasterFile06[820:1106]
SCdf

SCdf.plot(x='Date', y='Values', kind='line', color='red')
plt.xlabel('Date')
plt.ylabel('Wolf Creek Specific Conductance (uS/cm) 1972-2006')
plt.show()
'''

In [ ]:
def dummyGraphAny(y):
    yName = np.where(MasterFile06['Parameter Code'] == y)[0]
    yNamedf = MasterFile06[(yName[0]):(yName[-1])]
    print (yNamedf['Date'][:1])
    print (yNamedf['Date'][-1:])
    print (yNamedf['Parameter Description'][:1])
    yNamedf.plot(x='Date', y='Values', kind='line', color='red')
    plt.xlabel('Date')
    yax = input('Enter y-axis label: ')
    plt.ylabel(yax)
    title= input('Enter title: ')
    plt.title(title)
    plt.show()
  
    
    
        
    #slice = yName[0:18]
    #return slice
    #yNameArray = MasterFile06[(yName[0]):(yName[-1])]
    #return yNameArray
    
    #Trying to figure out how to find the date and parameter code I'm graphing for y-axis label and title 
     #print (yNamedf[:1])
    #print (yNamedf[-1:])
    
    #print (yNamedf['Date'][:1], yNamedf['Parameter Description'][:1])

In [ ]:
#y= '00011'
#dummyGraphAny(y)

#y= '00011'
#dummyGraphAny(y)

y='00094'
dummyGraphAny('00010')

In [ ]:
#MasterFile06.to_csv('MasterFile06.csv')